.button {
  display: flex;

  width: 90%;
  max-width: 345px;
  height: 72px;
  border-radius: 12px;

  margin: 20px auto;

  border: 3px solid #ffef61;
  background-color: white;

  cursor: pointer;
}

.button .content {
  display: flex;

  margin: auto;
}

.button .text {
  margin: auto 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.button .next-icon {
  margin: auto 10px;

  width: 30px;
}
