.deck-option .title {
  display: flex;

  margin: auto;
}

.deck-option .title span {
  margin: auto 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.deck-option .next-icon {
  margin: auto 10px;

  width: 30px;
}
