.app {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
}

.home .header {
  width: 177px;

  margin: 20px auto;
}

.home .deck-option {
  display: flex;

  width: 345px;
  height: 72px;
  border-radius: 12px;

  margin: 20px auto;

  border: 3px solid #ffef61;
}

.deck-option .title {
  display: flex;

  margin: auto;
}

.deck-option .title span {
  margin: auto 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.deck-option .next-icon {
  margin: auto 10px;

  width: 30px;
}
