.home {
  display: flex;
  flex-direction: column;
}

.home .header {
  width: 177px;

  margin: 20px auto;
}

.home .deck-option {
  display: flex;

  width: 345px;
  height: 72px;
  border-radius: 12px;

  margin: 20px auto;

  border: 3px solid #ffef61;
  background-color: white;

  cursor: pointer;
}
